<nav class="side-panel">
    <div 
        class="categories" 
        ng-class="!categories.open && 'minimized'"
        ng-click="triggerPanel(categories)">

        <div class="arrow"></div>
        <ul>
            <li ng-repeat="category in categories">
            <a ui-sref=".category({ category: category.name })" ui-sref-active="active" ng-click="openPanel(subcategories)">{{category.viewName}}</a>
            </li>
        </ul>
    </div> 
    
    <div 
        class="subcategories" 
        ng-class="!subcategories.open && 'minimized'"
        ng-click="triggerPanel(subcategories)">

        <div ng-if="subcategories.length" class="arrow"></div>
        <div ng-if="subcategories.length" class="title">
            <a ui-sref=".category({ category: 'all' })" ng-click="openPanel(categories)">Ко всем блюдам</a>
        </div>
        <ul>
            <li ng-repeat="subcategory in subcategories">
            <a ui-sref=".category.subcategory({ 
                subcategory: subcategory.name 
            })" ui-sref-active="active" ng-click="openPanel(recipes)">{{subcategory.viewName}}</a>
            </li>
        </ul>
    </div>
        
    <div 
        class="recipes" 
        ng-class="!recipes.open && 'minimized'"
        ng-click="triggerPanel(recipes)">

        <div ng-if="recipes.length" class="arrow"></div>
        <div ng-if="recipes.length" class="title">
            <a ui-sref=".category.subcategory({ 
                subcategory: currSubcategory.name 
            })" ng-click="openPanel(subcategories)">{{currSubcategory.titleName}}</a>
        </div>
        <ul>
            <li ng-repeat="recipe in recipes">
            <a ui-sref=".category.subcategory.recipe({  
                recipe: recipe.name  
            })" ui-sref-active="active" ng-click="stopClose($event)">{{recipe.viewName}}</a>
            </li>
        </ul>
    </div>
</nav>