@import "globalVars.styl"

.recipes-view
    .container
        margin-left panelClosed
        transition margin-left viewTransition
        @media (min-width: 1100px)
            &.wide
                margin-left panelClosed * 3
            &.normal
                margin-left panelClosed * 2 + panelOpen
            &.narrow
                margin-left panelClosed + panelOpen * 2
            &.narrow2
                margin-left panelOpen * 3
        & > div // inner relative div for ui-router animation
            position relative
    .categories-list
        display flex
        flex-wrap wrap
        padding topPadding 2%
        .preview-item
            max-width 400px
            margin 0 2% 10px
            flex-basis 260px
            flex-grow 1
            .item-wrapper
                height 282px

@media (max-width: 1100px)
    .recipes-view .container
        .categories-list
            padding-top topPaddingMin

@media (max-width: 860px)
    .recipes-view .container
        margin-left 0
