// Colors
darkCherry = #7D1729
cherry = #A83037
lightCherry = #C74D45
darkCherryShadowed = #5F1122
cherryShadowed = #992833
lightCherryShadowed = #B84440
veryLightCherry = #F1C2B5

mainGreen = #a5b900
mainYellow = #ebb252

textColor = #494949
lightTextColor = #818181
textNavColor = #FFF
headerColor = #FFF

borderColor = #dcdcdc

shadowColor = rgba(0, 0, 0, 0.3)
shadow = 0 0 7px shadowColor
viewTransition = 0.5s