@import "globalVars.styl"

/*** Main top menu ***/
header
    position fixed
    top 0
    width 100%
    height headerHeight
    display flex
    align-items center
    border-bottom 1px solid lightCherry
    box-shadow shadow
    background-color headerColor
    z-index 2
    .burger
        display none
    ul
        display flex
        align-items center
        li
            margin-right 33px
            a
                position relative
                color textColor
                &:hover
                    color lightTextColor
                &:after
                    content ""
                    position absolute
                    top 130%
                    left calc(50% - 4px)
                    width 6px
                    height 6px
                    display block
                    background-color mainGreen
                    border-radius 3px
                    opacity 0
                    transition opacity 0.6s
                &.active:after
                    opacity 1
    .logo
        margin -10px 82px 0 48px
        img
            height 95px

@media (max-width: 1100px)
    header
        height headerHeightSmall
        ul
            margin-left 70px
            margin-top -5px
        .logo
            display none

@media (max-width: 860px)
    header
        min-width 400px
        .burger
            width 40px
            height 40px
            margin-left 18px
            display block
            background-image url('../img/icons/menu-icon.svg')
            background-size cover
            cursor pointer
            transition defaultTransition
            &:hover
                opacity 0.8
            &.closed
                width 0
        ul
            margin-left 40px
            li
                margin-right 25px