@import "globalVars.styl"

transition = 0.4s ease-out
panelOpen = 205px
panelClosed = 35px
titleLeft = 52px
titleWidth = panelOpen - titleLeft

noselect()
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


.recipes
    .side-panel
        position fixed
        height 100%
        display flex
        noselect()
        box-shadow shadow
        .categories
            background-color darkCherry
            a.active 
                background-color darkCherryShadowed
        .subcategories
            background-color cherry
            a.active 
                background-color cherryShadowed
        .recipes
            background-color lightCherry
            a.active 
                background-color lightCherryShadowed
        & > div 
            position relative
            width panelOpen
            transition width transition 0.1s // add delay cause there are delay when main view class changes 
            overflow-x hidden
            a
                color textNavColor
                &:hover
                    color veryLightCherry
            .arrow
                position absolute
                top 17px
                left 25px
                width 9px
                height 15px
                background-image url('../img/arrow.png')
                background-size cover
                transition transform transition, left transition
            .title 
                position absolute
                top 15px
                left titleLeft
                width titleWidth
            ul, .title
                transition opacity transition
            ul 
                margin-top 60px
                a 
                    width panelOpen
                    display block
                    padding 4px 40px 4px 25px
            &.minimized
                width panelClosed
                .arrow
                    left 13px
                    transform rotate(180deg)
                ul, .title
                    opacity 0
    .container
        transition margin-left viewTransition
        & > div // inner relative div for ui-router animation
            position relative 
        &.wide 
            margin-left panelClosed * 3       
        &.normal 
            margin-left panelClosed * 2 + panelOpen
        &.narrow
            margin-left panelClosed + panelOpen * 2      
        &.narrow2 
            margin-left panelOpen * 3
        ul 
            display flex
            padding 2%
            flex-wrap wrap
            li 
                max-width 360px
                margin 2%
                flex-basis 260px
                flex-grow 1
    