/*** Styles for recipe-preview directive ***/
@import "../../../globalVars.styl"

.preview
    //width 270px
    padding 5px
    border: 1px solid borderColor
    .img-preview
        height 165px
        position relative
        background-size cover
        a
            position absolute
            bottom 0
            width 100%
            height 45px
            padding 0 10px
            line-height 45px
            overflow hidden
            text-overflow ellipsis
            font-size fontBig
            color textNavColor
            background-color darkShadowColor

.tags-container
    margin-bottom 5px
    .tags-title
        display inline-block
        margin 5px 35px 5px 0
        cursor pointer
        .arrow-small
            width 9px
            height 5px
            display inline-block
            margin-left 3px
            background-image url('../img/icons/arrow-small.png')
            background-size cover
            transition transform defaultTransition
            &.hidden
                transform rotate(180deg)
    .tags-list
        height 44px
        overflow hidden
        transition height defaultTransition
        &.hidden
            height 0