@import "globalVars.styl"

.single-recipe
    padding topPadding 4%
    h2
        margin 20px 0 7px
    .img-main
        width 43%
        min-height 250px
        max-height 400px
        background-size cover
    .info-main
        position relative
        width 55%
        .date
            position absolute
            top 0
            right 0
            color lightTextColor
        .ingredients-list
            margin-bottom 10px
            li
                margin-left 35px
                list-style circle
                span
                    display inline-block
                    width 35%
                    vertical-align bottom
                    overflow hidden
                    text-overflow ellipsis
                    &.ingr-count
                        font-weight bold
    .cook-title
        margin-top 40px
    .description
        width 68%
        p
            margin 0.5em 0
    .image-panel
        width 30%
        font-size: 0;
        .recipe-img
            max-height 300px
            overflow hidden
            transition defaultTransition
            cursor pointer
            &:hover
                opacity 0.8

@media (max-width: 1100px)
    .single-recipe
        padding-top topPaddingMin

@media (max-width: 860px)
    .single-recipe
        .flex-row
            flex-direction column
        .img-main
            height 350px
            width 100%
        .info-main
            width 100%
            margin-top 20px
            .ingredients-list
                li span
                    width 40%
        .description
            width 100%
            margin-bottom 20px
        .image-panel
            width 100%
            .recipe-img
                max-height 400px

@media (max-width: 560px)
    .single-recipe
        .img-main
            height 270px
        .info-main
            .ingredients-list li span
                    width 49%
        .image-panel
            .recipe-img
                max-height 300px
