<div class="about-block">
    <h2>О проекте</h2>
    <p>Небольшой сэндбокс-проект для удобного просмотра кулинарных рецептов. Существует исключительно для личных целей автора, однако предложения по улучшению функциональности конечно же принимаются :)</p>
    <p>Вы можете найти этот проект на <a href="https://github.com/clusterberries/cherry-pie">GitHub</a></p>
    <p>Планируется регистрация через соцсети и возможность делиться рецептами, сохранять и управлять ими.</p>
    <p>Контент на данном сайте или взят с просторов интернета (в таком случае ссылку на оригинал можно найти внизу рецепта), или написан самим автором.</p>

    <h2>Контакты</h2>
    <p>Email: <a href="mailto:al.govorkova@gmail.com">al.govorkova@gmail.com</a></p>
    <p>Skype: <a href="skype:clusterberries">clusterberries</a></p>
    <p>GitHub: <a href="https://github.com/clusterberries">github.com/clusterberries</a></p>
</div>