<div class="logo"><a ui-sref=".recipes.category({ category: 'all' })"><img src='/img/logo-pie_web.png'></a></div>
<div class="burger" ng-class="{closed: !$state.includes('recipes')}" ng-click="triggerMenu()"></div>
<nav><ul>
    <li><a ui-sref=".recipes.category({ category: 'all' })" ng-class="{ active: $state.includes('recipes') }">Рецепты</a></li>
    <li><a ui-sref=".search" ui-sref-active="active">Поиск</a></li>
    <li><a ui-sref=".about" ui-sref-active="active">О приложении</a></li>
</ul></nav>